footer {
    position: absolute;
    bottom: 2rem;
    left: auto;
    right: auto;
}

.fa {
    margin: 0 clamp(2rem, 5vw, 4rem);
    font-size: clamp(2rem, 3vw, 4rem);
    width: clamp(2rem, 3vw, 4rem);
    text-decoration: none;
    text-align: center;
    background: var(--color-gray);
    color: var(--color-light-blue)
}

.fa:hover {
    color: var(--color-blue)
}