:root {
    --color-gray: #4C4C4C;
    --color-light-blue: #A0CFD3;
    --color-blue: #2D6ED8;
    --color-brown: #B88B4A;
    --color-yellow: #EFCB68;
}

html {
    width: 100%;
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

#root {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--color-gray);
    color: var(--color-light-blue);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    align-items: center;
    justify-content: center;
}

main {
    width: 50%;
    text-align: center;
}